[Unit]
Description=uWSGI instance to serve your personal website
After=network.target

[Service]
User=<username>
Group=www-data
WorkingDirectory=<path to>
ExecStart=/usr/bin/uwsgi --ini <path to>/website.ini

[Install]
WantedBy=multi-user.target
