{% extends "base.html" %}

{% block content %}
<h1 class="title">
  3D Printing
</h1>
</br>
<div class="box">
  <p>
    So far, I haven't done too much with 3D printing. But, here's some basic info:
    <ul>
        <li><b>Printer:</b> CR-10S Pro V2</li>
        <li><b>Plastics tried:</b> PLA, ABS, PETG</li>
            <ul>
                <li>PLA is great for most basic projects</li>
                <li>PETG is great for anything needing high-strength or heat resistance. If something's going to be abused somehow, use PETG.</li>
                <li><b>DO NOT USE ABS.</b> It's extreamly finicky, hates to stick to itself, and weaker than PETG (albeit minimally so).</li>
            </ul>
    </ul>
  </p>
  <h2 class="subtitle">
    This page is still under construction. Check back later to see if more has been added!
  </h2>
  </br>
</div>

{% endblock %}
