{% extends "base.html" %}

{% block content %}
<div class="contentContainer">
  <div class="error418Title">Error 418: Teapot</div>
  <div class="error418img"><a href="https://youtu.be/B6en-O5yF0o"><img src="../assets/images/teapot.webp" alt="An image of a Tea Pot"></a></div>
  <!-- This is not necessary, but a link to the original image and it's author: https://pixabay.com/illustrations/tea-time-tea-teapot-art-vintage-8100595/ -->
  <div class="error418Message">I am a Teapot.</div>
</div>
{% endblock %}
