{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Anime
</h1>
</br>
<div class="box">
  <h2 class="subtitle">
    Despite being an avid anime fan, I do not have a My Anime List account. Instead, you can see what all I have watched, plan to watch, am watching now, or have on hold, here!
  </h2>
  </br>
  </br>
  <h2 class="subtitle">
      Watched
  </h2>
  </br>
  <ul>
      {{ watched }}
  </ul>
  </br>
  </br>
  <h2 class="subtitle">
      Watching
  </h2>
  </br>
  <ul>
      {{ watching }}
  </ul>
  </br>
  </br>
  <h2 class="subtitle">
      Plan to Watch
  </h2>
  </br>
  <ul>
      {{ to_watch }}
  </ul>
  </br>
  </br>
  <h2 class="subtitle">
      On Hold
  </h2>
  </br>
  <ul>
      {{ on_hold }}
  </ul>
  </br>
  </br>
</div>

{% endblock %}
