<!DOCTYPE html>
<!-- -*- coding: utf-8 -*-

 Copyright 2023 Thomas Castleman <contact@draugeros.org>

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 MA 02110-1301, USA. -->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ master_title }}</title>
    <meta name="hostname" content="draugeros.org">
    <link rel="fluid-icon" href="/assets/images/favicon.png" title="draugeros.org">
    <meta name="description" content="{{ master_desc }}">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="{{ master_desc }}">
    <meta name="author" content="{{ author }}">
    <meta name="keywords" content="{{ seo_keywords }}">
    <meta property="og:site_name" content="Drauger OS"/>
    <meta property="og:title" content="{{ master_title }}"/>
    <meta name="twitter:title" content="{{ master_title }}"/>
    <meta name="twitter:site" content="@DraugerOS"/>
    <meta property="og:image" content="/assets/images/favicon.png"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="253"/>
    <meta property="og:image:height" content="214"/>
    <meta property="og:description" content="{{ master_desc }}"/>
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> <!-- Used for Icons -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'> <!-- This links to an externally hosted form of the font that allows the user to see the font regardless of if they have it installed or not-->
</head>
<body>
    <div id="topnav">
        <ul>
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li><a href="{{ url_for('download') }}">Download</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('wiki_homepage') }}">Wiki</a></li>
            <li><a href="#" class="dropbtn" onclick="AboutSubMenu(); onlyDesktopAbout()">About</a></li>
            <li><a href="#" class="dropbtn" onclick="ContributingSubMenu(); onlyDesktopContrib()">Contributing</a></li>
            <li><a href="#" class="dropbtn" onclick="CommunitySubMenu(); onlyDesktopCommunity()">Community</a></li>
        </ul>
        <div class="nav-dropshadow"></div>
    </div>
    <div id="desktopAbout">
        <ul>
            <li><a href="{{ url_for('about') }}">About Drauger OS</a></li>
            <li><a href="{{ url_for('sys_reqs') }}">System Requirements</a></li>
        </ul>
    </div>
    <div id="desktopContributing">
        <ul>
            <li><a href="{{ url_for('contributing') }}">Contributing to Drauger OS</a></li>
            <li><a href="/community%20guidelines" target="_blank">Contribuiting Guidelines</a></li>
            <li><a href="{{ url_for('contributors') }}">Contributors</a></li>
            <li><a href="https://liberapay.com/Drauger_OS_Development/donate">Donate</a></li>
            <li><a href="https://distrowatch.com/dwres.php?waitingdistro=488&resource=links#new">Vote for us on DistroWatch</a></li>
        </ul>
    </div>
    <div id="desktopCommunity"> 
        <ul>
            <li><a href="/community%20guidelines" target="_black">Community Guidelines</a></li>
            <li><a href="https://t.me/draugeros"><i class="fa-brands fa-telegram"></i>&nbsp;Telegram</a></li>
            <li><a href="https://discord.gg/JW8FGrc"><i class="fa-brands fa-discord"></i>&nbsp;Discord</a></li>
            <li><a href="https://www.reddit.com/r/DraugerOS/"><i class="fa-brands fa-reddit-alien"></i>&nbsp;Reddit</a></li>
            <li><a href="https://twitter.com/DraugerOS"><i class="fa-brands fa-x-twitter"></i>&nbsp;(formerly Twitter)</a></li>
            <li><a href="https://fosstodon.org/@DraugerOS"><i class="fa-brands fa-mastodon"></i>&nbsp;Mastadon</a></li>
        </ul>
    </div>
        <!-- Mobile Navigation Below -->
    <div id="mobile-nav"> 
        <div class="mobile-menu"><button onclick="mobileSettings()"><i class="fa-solid fa-bars"></i></button></div>
        <div class="siteName">drauger os</div>
        <div class="nav-dropshadow"></div>
    </div>
    <div id="mobileSacrafice">
        <div id="mobile-options">
            <ul>
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('download') }}">Download</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('wiki_homepage') }}">Wiki</a></li>
                <li><a href="#About" onclick="MobileAboutSubMenu(); onlyAbout()">About</a></li>
                <li><a href="#Contributing" onclick="MobileContributingSubMenu(); onlyContrib()">Contributing</a></li>
                <li><a href="#Community" onclick="MobileCommunitySubMenu(); onlyCommunity()">Community</a></li>
            </ul>
        </div>
    </div>
    <div id="mobileAbout" class="toggle-left-div">
        <ul>
            <li><a href="{{ url_for('about') }}">About Drauger OS</a></li>
            <li><a href="{{ url_for('sys_reqs') }}">System Requirements</a></li>
            <li><a href="#Back" onclick="backToDefault()"><i class="fa-solid fa-angles-left"></i>&nbsp;Back</a></li>
        </ul>
    </div>
    <div id="mobileContributing" class="toggle-left-div">
        <ul>
            <li><a href="{{ url_for('contributing') }}">Contributing to Drauger OS</a></li>
            <li><a href="/community%20guidelines" target="_blank">Contribuiting Guidelines</a></li>
            <li><a href="{{ url_for('contributors') }}">Contributors</a></li>
            <li><a href="https://liberapay.com/Drauger_OS_Development/donate">Donate</a></li>
            <li><a href="https://distrowatch.com/dwres.php?waitingdistro=488&resource=links#new">Vote for us on DistroWatch</a></li>
            <li><a href="#Back" onclick="backToDefault()"><i class="fa-solid fa-angles-left"></i>&nbsp;Back</a></li>
        </ul>
    </div>
    <div id="mobileCommunity" class="toggle-left-div"> 
        <ul>
            <li><a href="/community%20guidelines">Community Guidelines</a></li>
            <li><a href="https://t.me/draugeros"><i class="fa-brands fa-telegram"></i>&nbsp;Telegram</a></li>
            <li><a href="https://discord.gg/JW8FGrc"><i class="fa-brands fa-discord"></i>&nbsp;Discord</a></li>
            <li><a href="https://www.reddit.com/r/DraugerOS/"><i class="fa-brands fa-reddit-alien"></i>&nbsp;Reddit</a></li>
            <li><a href="https://twitter.com/DraugerOS"><i class="fa-brands fa-x-twitter"></i>&nbsp;(formerly Twitter)</a></li>
            <li><a href="https://fosstodon.org/@DraugerOS"><i class="fa-brands fa-mastodon"></i>&nbsp;Mastadon</a></li>
            <li><a href="#Back" onclick="backToDefault()"><i class="fa-solid fa-angles-left"></i>&nbsp;Back</a></li>
        </ul>
    </div>
    <div class="contentContainer"></div>
    <div class="centered-container">
           {% block content %}
           {% endblock %}
    </div>
<div class="spacer"></div>
<div class="footer">
        <div class="copyright">&copy; Copyright | Drauger OS and Thomas Castleman | All Rights Reserved</div>
        <p>
            <a href="{{ url_for('privacy') }}" target="_blank">Privacy Policy</a>
            <a href="{{ url_for('tos') }}" target="_blank">Terms of Service</a>
            <a href="{{ url_for('guidelines') }}" target="_blank">Community Guidelines</a>
        </p>
</div>
        <script>
            function AboutSubMenu() {
                var menuBox = document.getElementById('desktopAbout');
                if (menuBox.style.top == "3.5em") {
                    menuBox.style.top = "-7em";
                } else {
                    menuBox.style.top = "3.5em";
                }
            }
            function ContributingSubMenu() {
                var menuBox = document.getElementById('desktopContributing');
                if (menuBox.style.top == "3.5em") {
                    menuBox.style.top = "-20em";
                } else {
                    menuBox.style.top = "3.5em";
                }
            }
            function CommunitySubMenu() {
                var menuBox = document.getElementById('desktopCommunity');
                if (menuBox.style.top == "3.5em") {
                    menuBox.style.top = "-20em";
                } else {
                    menuBox.style.top = "3.5em";
                }
            }
/* - Mobile Navbar below - */
            function mobileSettings() {
             var menuBox = document.getElementById('mobile-options');
             if (menuBox.style.left == "0em") {
                 menuBox.style.left = "-30em";
              } else {
                  menuBox.style.left = "0em";
              }
            }
            function MobileAboutSubMenu() {
                var menuBox = document.getElementById('mobileAbout');
                var mobileOptions = document.getElementById('mobile-options');
                if (mobileOptions.style.left == '0em') {
                    mobileOptions.style.left = '-30em';
                } 
                if (menuBox.style.left == "0em") {
                    menuBox.style.left = "-30em";
                } else {
                    menuBox.style.left = "0em";
                }
            }
            function MobileContributingSubMenu() {
                var menuBox = document.getElementById('mobileContributing');
                var mobileOptions = document.getElementById('mobile-options');
                if (mobileOptions.style.left == '0em') {
                    mobileOptions.style.left = '-30em';
                } 
                if (menuBox.style.left == "0em") {
                    menuBox.style.left = "-30em";
                } else {
                    menuBox.style.left = "0em";
                }
            }
            function MobileCommunitySubMenu() {
                var menuBox = document.getElementById('mobileCommunity');
                var mobileOptions = document.getElementById('mobile-options');
                if (mobileOptions.style.left == '0em') {
                    mobileOptions.style.left = '-30em';
                } 

                if (menuBox.style.left == "0em") {
                    menuBox.style.left = "-30em";
                } else {
                    menuBox.style.left = "0em";
                }
            }
            function backToDefault() {
                var menuBox = document.getElementById('mobile-options');
                if (menuBox.style.left == '-30em') {
                    menuBox.style.left = '0em';
                } else {
                    return;
                }
            }
    // Below is the script to automatically hide open elements when scrolled away from the top of the screen (Mobile Nav)
    function hideDesktopElements() {
                const elementIDs = ["desktopAbout", "desktopContributing", "desktopCommunity"];
                changeTopValue(elementIDs);
             }
            window.addEventListener("scroll", hideDesktopElements);
            function handleClickOutsideDesktopNav(event) {
                const navbar = document.getElementById('topnav');
                if (!navbar.contains(event.target)) {
                    const elementIDs = ["desktopAbout", "desktopContributing", "desktopCommunity"];
                    changeTopValue(elementIDs);
                }
            }
            document.addEventListener('click', handleClickOutsideDesktopNav);
            function handleClickOutsideMobileNav(event) {
                const mobileNav = document.getElementById('mobile-options');
                if (!mobileNav.contains(event.target)) {
                    const elementIDs = ["mobileAbout", "mobileContributing", "mobileCommunity"];
                    changeLeftValue(elementIDs);
                }
            }
            function onlyDesktopAbout() {
                        const contrib = document.getElementById('desktopContributing')
                        const community = document.getElementById('desktopCommunity');
                        if (contrib.style.top == '3.5em') {
                            contrib.style.top = '-20em';
                        }
                        if (community.style.top == '3.5em') {
                            community.style.top = '-20em';
                        } else {
                            return
                        }
                    }
    function onlyDesktopContrib() {
                        const about = document.getElementById('desktopAbout')
                        const community = document.getElementById('desktopCommunity');
                        if (about.style.top == '3.5em') {
                            about.style.top = '-7em';
                        }
                        if (community.style.top == '3.5em') {
                            community.style.top = '-20em';
                        } else {
                            return
                        }
                    }
    function onlyDesktopCommunity() {
                        const about = document.getElementById('desktopAbout')
                        const contrib = document.getElementById('desktopContributing');
                        if (about.style.top == '3.5em') {
                            about.style.top = '-7em';
                        }
                        if (contrib.style.top == '3.5em') {
                            contrib.style.top = '-20em';
                        } else {
                            return
                        }
                    }
            function changeLeftValue(ids) {
                ids.forEach(id => {
                    const element = document.getElementById(id);
                if (element) {
                    element.style.left = "-30em";
                } else {
                    console.error("Element with ID", id, "not found.");
                }
                });
            }
             function hideMobileElements() {
                const elementIDs = ["mobile-options", "mobileAbout","mobileContributing", "mobileCommunity"];
                changeLeftValue(elementIDs);
             }
             window.addEventListener("scroll", hideMobileElements);
            function changeTopValue(ids) {
                ids.forEach(id => {
                    const element = document.getElementById(id);
                if (element) {
                    element.style.top = "-20em";
                } else {
                    console.error("Element with ID", id, "not found.");
                }
                });
            }
            document.addEventListener('click', handleClickOutsideMobileNav);
            function onlyAbout() {
                const menuBox = document.getElementById('mobileAbout')
                const contrib = document.getElementById('mobileContributing')
                const community = document.getElementById('mobileCommunity');
                if (menuBox.style.left == '-20em') {
                    menuBox.style.left = '15em'
                }
                if (contrib.style.left == '15em') {
                    contrib.style.left = '-20em';
                }
                if (community.style.left == '15em') {
                    community.style.left = '-20em';
                } else {
                    return
                }
            }
            function onlyContrib() {
                const contrib = document.getElementById('mobileAbout')
                const community = document.getElementById('mobileCommunity');
                if (contrib.style.left == '15em') {
                    contrib.style.left = '-20em';
                }
                if (community.style.left == '15em') {
                    community.style.left = '-20em';
                } else {
                    return
                }
            }
            function onlyCommunity() {
                const contrib = document.getElementById('mobileAbout')
                const community = document.getElementById('mobileContributing');
                if (contrib.style.left == '15em') {
                    contrib.style.left = '-20em';
                }
                if (community.style.left == '15em') {
                    community.style.left = '-20em';
                } else {
                    return
                }
            }
    </script>
</body>
</html>
mobile-options
