<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomas Castleman</title>
    <link rel="stylesheet" href="/assets/default.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="topnav">
            <a href="{{ url_for('main') }}">Home</a>
            <a href="{{ url_for('three_d') }}">3D Printing</a>
            <a href="{{ url_for('anime') }}">Anime</a>
            <a href="{{ url_for('software') }}">Software</a>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
