{% extends "base.html" %}

{% block content %}
<center>
    <h1 class="page-title">
        Our Contributors
    </h1>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="box">
    <center>
        <h2>
            We have a lot of amazing contributors. But the people on this page have gone above
            </br>
            and beyond to help out Drauger OS.
        </h2>
        </br>
        Contributors on this page have met the following requirements:
        </br>
        - Been active and maintained a good standing in the community for at least 6 months
        </br>
        - Provided at least 10 contributions (pull requests, solving novel/new bugs, monetary donations, documentation)
        </br></br></br>
        <table>
            <!-- Each row of the table should be formatted like below -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/batcastle.jpg" width="195" height="200">
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>THOMAS CASTLEMAN</b> | batcastle</h3>
                    </br>
                    Lead developer, founder of Drauger OS, Core Project Manager, and the one who came up with this stupid idea.
                    </br></br>
                    <i>Contributor since the dawn of time</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/humbletyrant.png" width="195" height="200">
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>LOGAN L JOHNSON</b> | HumbleTyrant</h3>
                    </br>
                    Former Web Developer for Drauger OS, in-house aesthetics smart ass, WordPress god, cannot ride a bike.
                    </br></br>
                    <i>Contributor since 2018</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/amolith.jpg" width="195" height="200">
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>AMOLITH</b></h3>
                    </br>
                    Designer of our new logo, security advisor, and devil’s advocate
                    </br></br>
                    <i>Contributor since 2018</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/cow_killer.png" width="195" height="200">
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>MARK DOUGHERTY</b> | cow_killer</h3>
                    </br>
                    Writer, editor, tester of all things good, voice of reason
                    </br></br>
                    <i>Contributor since 2019</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/ninja.jpg" width="195" height="200">
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>THORSTEN TIEFENBACH</b> | ninja</h3>
                    </br>
                    Translator of the sacred texts
                    </br></br>
                    <i>Contributor since 2020</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/favicon.png" width="195" height="200">
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>RICHARD ROMICK</b> | Senlis</h3>
                    </br>
                    Developer Extraordinaire, Maker of Fuzzy Bois, Really thinks he’s making Batcastle’s code better
                    </br></br>
                    <i>Contributor since 2021</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/favicon.png" width="195" height="200">
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>GHOSTHAX0R</b></h3>
                    </br>
                    Destroyer of worlds and creator of virtual machines
                    </br></br>
                    <i>Contributor since 2020</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
<!--
                    <img src="assets/images/topaz.png" width="195" height="200">
-->
                    <img src="assets/images/favicon.png" width="195" height="200">
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>STEVEN BOYD</b> | Topaz</h3>
                    </br>
                    Most Supportive Beta Tester this side of the Mississippi River. Which side? No one knows. ¯\_(ツ)_/¯
                    </br></br>
                    <i>Contributor since 2021</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/abrifq.png" width="195" height="200">
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>ARDA AYDIN</b> | Abrifq</h3>
                    </br>
                    Beta Tinkerer
                    </br></br>
                    <i>Contributor since 2021</i>
                </td>
            </tr>
        </table>
    </center>
</div>

{% endblock %}
