{% extends "base.html" %}

{% block content %}
<div class="contentContainer">
    <div class="ContributingTitle">Contributing to <span class="osName">Drauger OS</span></div>
    <div class="ContributingSubTitle">Want to Contribute to <span class="osName">Drauger OS</span>?
    <br>Here are some of the best ways to volunteer.</div>
    <div class="CodeOrDocumentation">
        <div class="aboutSubTitle" style="color:rgb(121, 64, 64);">Code and Documentation</div>
        <div class="aboutDescription">
            We always need help writing code for various projects!
            <br>To persue contributing in this way, we strongly recommend experience with Python, HTML, and/or CSS.
            <br>
            <br>You can find all of our projects <a href="https://github.com/drauger-os-development">on our GitHub.</a>
        </div>
        <div class="projects">
            Our Core Projects:
            <ul>
                <li><a href="https://github.com/drauger-os-development/system-installer">Our Installation Utility</a></li>
                <li><a href="https://github.com/drauger-os-development/website">Our Website</a></li>
                <li><a href="https://github.com/drauger-os-development/systemd-boot-manager">Our Boot Manager</a></li>
            </ul>
            <div class="documentation">All of this code also needs documentation. If you're familiar with technical writing, we would love to have your help!</div>
        </div>
        <div class="artwork">
            <div class="aboutSubTitle" style="color:rgb(121, 64, 64);">Artwork</div>
            <div class="aboutDescription"> Have a knack for creativity? Got skills in digital artwork or graphic design? Fear not! We have a place for you too! We always appreciate new wallpapers, especially when we are working on new versions of Drauger OS. If you want to create one or more wallpapers, check out <a href="https://github.com/drauger-os-development/artwork">Our artwork repository</a> for details on how to contribute it!</div>
        </div>
        <div class="Donations">
            <div class="aboutSubTitle" style="color:rgb(121, 64, 64);">Monetary Donations</div>
            <div class="aboutDescription">If you don't have the time or skill to contribute code, documentation, or artwork, you can <i>still</i> contribute by donating! All proceeds go towards server upkeep, domain registration, hardware upgrades for servers, and on some occasions, internet, and electricity. No staff is employed by Drauger OS, so all donations go towards keeping the project online. If you feel compelled to do so, you can donate online <a href="https://liberapay.com/Drauger_OS_Development/donate">on our Liberapay.</a></div>
        </div>
        <div class="BetaTeasting">
            <div class="aboutSubTitle" style="color:rgb(121, 64, 64);">Beta Testing</div>
            <div class="aboutDescription">Beta Testing can cause system instability and/or an unusable system. That being said, testing is another way you can contribute. There are 2 ways to do this:
            <br>
            <br><span class="betaOptions">Install a beta version of the OS</span>
            <br>This is how you can help us prepare us for the next release. Simply install the OS, run it for a few days and let us know of any issues you encounter.
            <br>
            <br><span class="betaOptions">Enable Dev Repos</span>
            <br><span class="aboutAlert">By enabling the dev repos, you can get updates much faster, at the risk of breaking your system.</span>
            <br>To enable the dev repos, run this command in the terminal:
            <div class="enableDevRepos">
                <ol>
                    <li>Open your Source List</li>
                        <div class="codeText">sudo apt edit-sources</div>
                    <li>Scroll to the bottom of the file, until you see this:</li>
                    <div class="codeText">## Extra Repos added for Drauger OS
                        <br>deb https://apt.draugeros.org strigoi main
                        <br>## Development Repos for Drauger OS
                        <br>## ONLY ENABLE IF YOU ARE WILLING TO DEAL WITH BUGS
                        <br># deb https://apt.draugeros.org strigoi-dev main
                        <br>
                        <br>deb https://apt.draugeros.org strigoi-graphics main
                        <br># deb https://apt.draugeros.org strigoi-graphics-dev main</p>
                    <li>Remove the hash tag (#) from the front of these two lines:</li>
                    <div class="codeText"># deb https://apt.draugeros.org strigoi-dev main
                    <br># deb https://apt.draugeros.org strigoi-graphics-dev main</div>
                    <li>Confirm it matches this:</li>
                    <div class="codeText">## Extra Repos added for Drauger OS
                        <br>deb https://apt.draugeros.org strigoi main
                        <br>## Development Repos for Drauger OS
                        <br>## ONLY ENABLE IF YOU ARE WILLING TO DEAL WITH BUGS
                        <br>deb https://apt.draugeros.org strigoi-dev main
                        <br>
                        <br>deb https://apt.draugeros.org strigoi-graphics main
                        <br>deb https://apt.draugeros.org strigoi-graphics-dev main</div>
                    <li>Save and Exit</li>
                    <li>Update with the following commands</li>
                    <div class="codeText">sudo apt update
                        <br>sudo apt upgrade -y
                    </div>
                </ol>
            </div>
            </div>
        </div>
    </div>
    <div class="githubCTA">If you need more ideas, please visit our <a href="https://github.com/drauger-os-development" target="_blank">Github</a>.</div>
</div>
{% endblock %}
