{% extends "base.html" %}

{% block content %}
<div class="contentContainer">
    <div class="ContactPageTitle">Contact Us</div>
    <div class="description">There are a number of ways to contact us.
        <br>Listed below are the best ways, organized from Fastest to Slowest response time.</div>
    <div class="Support">
        <div class="SubTitle">Support</div>
        <div class="options">
            <ul>
                <li><a href="https://t.me/draugeros"><i class="fa-brands fa-telegram"></i>&nbsp;Telegram Group</a></li>
                <li><a href="https://discord.gg/JW8FGrc"><i class="fa-brands fa-discord"></i>&nbsp;Discord Server</a></li>
                <li><a href="https://twitter.com/DraugerOS"><i class="fa-brands fa-x-twitter"></i>&nbsp;X&nbsp;(Formerly Twitter)</a></li>
                <li><a href="https://reddit.com/r/DraugerOS"><i class="fa-brands fa-reddit-alien"></i>&nbsp;Reddit</a></li>
            </ul>
        </div>
        <div class="SubTitle">Contributing and Development</div>
        <div class="options">
            <ul>
                <li><a href="https://t.me/draugeros"><i class="fa-brands fa-telegram"></i>&nbsp;Telegram Group</a></li>
                <li><a href="https://discord.gg/JW8FGrc"><i class="fa-brands fa-discord"></i>&nbsp;Discord Development Server</a></li>
            </ul>
        </div>
    </div>
    <div class="contactSocials">
        <div class="description">Not Interested in Development and just want to hang out with us?</div>
        <div class="SubTitle">Social Media</div>
        <div class="options">
            <ul>
                <li><a href="https://twitter.com/DraugerOS"><i class="fa-brands fa-x-twitter"></i>&nbsp;X&nbsp;(Formerly Twitter)</a></li>
                <li><a href="https://reddit.com/r/DraugerOS"><i class="fa-brands fa-reddit-alien"></i>&nbsp;Reddit</a></li>
                <li><a href="https://t.me/draugeros"><i class="fa-brands fa-telegram"></i>&nbsp;Telegram Group</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
