{% extends "base.html" %}

{% block content %}
<div class="contentContainer">
    <div class="ContactPageTitle">Our Contributors</div>
    <div class="contribDescription">
        The people on this page have gone Above and Beyond all <a href="#joinContributors">expectations</a> to help improve <span class="osName">Drauger OS</span> and foster the community around it.
    </div>
</div>

        <table class="contributors_list">
            <!-- Each row of the table should be formatted like below -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/batcastle.png" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>THOMAS CASTLEMAN</b> | batcastle</h3>
                    </br>
                    Lead developer, founder of Drauger OS, Core Project Manager, and the one who came up with this stupid idea.
                    </br></br>
                    <i>Contributor since the dawn of time</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/humbletyrant.png" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>LOGAN L JOHNSON</b> | HumbleTyrant</h3>
                    </br>
                    Former Web Developer for Drauger OS, in-house aesthetics smart ass, WordPress god, cannot ride a bike.
                    </br></br>
                    <i>Contributor since 2018</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/amolith.jpg" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>AMOLITH</b></h3>
                    </br>
                    Designer of our new logo, security advisor, and devil’s advocate
                    </br></br>
                    <i>Contributor since 2018</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/cow_killer.png" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>MARK DOUGHERTY</b> | cow_killer</h3>
                    </br>
                    Writer, editor, tester of all things good, voice of reason
                    </br></br>
                    <i>Contributor since 2019</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/ninja.jpg" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>THORSTEN TIEFENBACH</b> | ninja</h3>
                    </br>
                    Translator of the sacred texts
                    </br></br>
                    <i>Contributor since 2020</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/favicon.png" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>RICHARD ROMICK</b> | Senlis</h3>
                    </br>
                    Developer Extraordinaire, Maker of Fuzzy Bois, Really thinks he’s making Batcastle’s code better
                    </br></br>
                    <i>Contributor since 2021</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/ghosthax0r.png" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>GHOSTHAX0R</b></h3>
                    </br>
                    Spicy Virtual Machine Boi, Has broken Drauger OS more than anyone else
                    </br></br>
                    <i>Contributor since 2020</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/favicon.png" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>STEVEN BOYD</b> | Topaz</h3>
                    </br>
                    Most Supportive Beta Tester this side of the Mississippi River. Which side? No one knows. ¯\_(ツ)_/¯
                    </br></br>
                    <i>Contributor since 2021</i>
                </td>
            </tr>
            <!-- Next row! -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <img src="assets/images/abrifq.png" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>ARDA AYDIN</b> | Abrifq</h3>
                    </br>
                    Beta Tinkerer
                    </br></br>
                    <i>Contributor since 2021</i>
                </td>
            </tr>
            <!-- Next Row -->
            <tr class="tr-hidden">
                <!-- Contributor Picture -->
                <td class="td-hidden">
                    <!--
                    <img src="assets/images/Riley.png" >
                    -->
                    <img src="assets/images/favicon.png" >
                </td>
                <!-- Contributor Name/username, funny bio, and contributor start date -->
                <td class="td-hidden">
                    <h3><b>RILEY AVA</b> | Riley</h3>
                    </br>
                    Website Developer. Baby, very noisy.
                    </br></br>
                    <i>Contributor since 2024</i>
                </td>
            </tr>
        </table>
    <div class="contentContainer">
    <section id="joinContributors">
    <div class="joinContributors">
        <div class="JCTitle">Interested in Joining the People on this page?</div>
        <div class="JCDescription">Everyone on this page has done one of the following:</div>
        <div class="JCExpectations"><img src="../assets/images/favicon.png" alt="The Drauger OS Favicon/Icon">Be active and maintain a good standing in the community for at least 6 months.</div>
        <div class="JCExpectations"><img src="../assets/images/favicon.png" alt="The Drauger OS Favicon/Icon">Provided at least 10 contributions (pull requests, bugs fixes, donations, documentation, etc)</div>
    </div>
    </div>
    </section>
    </div>
</div>

{% endblock %}
