{% extends "base.html" %}

{% block content %}
<center>
    <h1 class="page-title">
        Contact Us
    </h1>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="box">
    <h2>
    There are a number of ways in which to contact us. Below are listed the best ways to do that, organized by purpose of the contact, from the most quick to the least quick response times. At the bottom we also have links to our social media.
    </h2>
    </br>
    </br>
    <h2>
        Support
  </h2>
  <p>
    <a href="https://t.me/draugeros" target="_blank">Telegram Support Group</a>
    </br>
    <a href="https://discord.gg/JW8FGrc" target="_blank">Discord Support/Development Server</a>
    </br>
    <a href="https://twitter.com/DraugerOS" target="_blank">Twitter</a>
    </br>
    <a href="https://reddit.com/r/DraugerOS" target="_blank">Reddit</a>
  </p>
  </br>
  </br>
  <h2>
      Contributing/Development
  </h2>
  <p>
    <a href="https://t.me/draugeros_dev" target="_blank">Telegram Development Group</a>
    </br>
    <a href="https://discord.gg/JW8FGrc" target="_blank">Discord Support/Development Server</a>
  </p>
  </br>
  </br>
  <h2>
      Social Media
  </h2>
  <p>
      <a href="https://twitter.com/DraugerOS" target="_blank">Twitter</a>
      </br>
      <a href="https://reddit.com/r/DraugerOS" target="_blank">Reddit</a>
      </br>
      <a rel="me" href="https://fosstodon.org/@DraugerOS">Mastodon</a>
</div>

{% endblock %}
