{% extends "base.html" %}

{% block content %}
<div class="contentContainer">
    <div class="CTA_Download">Download <span class="osName">Drauger OS</span></div>
            <div class="choice">Please choose the version of Drauger OS you would like to download.</div>
        <a class="p-button--positive is-wide" href="{{ url_for('thank_you') }}">
            <img class="downloadImage" src="{{ url_for('static_dir', path='images/77download.png') }}">
        </a>
		<p>Download Info: 3.7GB | Ver. 7.7</p>
<!--         <div class="torrent">Need a torrent? <a href="https://draugeros.org/assets/torrents/Drauger_OS-7.6-AMD64.iso.torrent">Click here</a>.</div> -->
        <!--<div class="betaDownload">
            <div class="warning">
                <div class="warning-message"><i class="fa-solid fa-triangle-exclamation"></i>DraugerOS 7,7 NZAMBI is currently in beta.</div>
            </div>
            <div class="explanation">Expect Instability and frequent updates.
                <br>We recommend you use 7.6 STRIGOI unless you're aware of these potential issues.</div>
            <a class="p-button--positive is-wide" href="{{ url_for('thank_you_beta') }}">
                <img class="downloadImage" src="{{ url_for('static_dir', path='images/77download.png') }}">
            </a>
        </div>-->
        <div class="DownloadsMoreInfo">
            <div class="aboutDrauger">For more information about the development and inner workings of <span class="osName">DraugerOS</span><a href="{{ url_for('about') }}" target="_blank">&nbsp;Click Here.</a></div>
            <div class="systemRequirements">For information about current System Requirements of <span class="osName">Drauger OS</span><a href="{{ url_for('sys_reqs') }}" target="_blank">&nbsp;Click Here.</a></div>
        </div>
    </div>

{% endblock %}
