{% extends "base.html" %}

{% block content %}
<center>
    <h1 class="page-title">
        Download Drauger OS
    </h1>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="box">
    <center>
        <h2>
            Please choose the version of Drauger OS you would like to download.
        </h2>
    </center>
  </br>
  <!-- Download buttons for the ISOs -->
  <div class="image-menu">
      <a class="p-button--positive is-wide" href="{{ url_for('thank_you_old') }}">
          <img class="redglow" src="{{ url_for('static_dir', path='images/751download.png') }}">
      </a>
      </br>
      </br>
      </br>
      <a class="p-button--positive is-wide" href="{{ url_for('thank_you') }}">
          <img class="redglow" src="{{ url_for('static_dir', path='images/76download.png') }}">
      </a>
  </div>
</div>

{% endblock %}
