{% extends "base.html" %}

{% block content %}
<center>
    <h1 class="page-title">
        Download Drauger OS
    </h1>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="box">
    <center>
        <h2>
            Please choose the version of Drauger OS you would like to download.
        </h2>
    </center>
    </br>
<!-- Download buttons for the ISOs -->
    <center>
        <a class="p-button--positive is-wide" href="{{ url_for('thank_you') }}">
            <img class="redglow" src="{{ url_for('static_dir', path='images/76download.png') }}">
        </a>
        </br>
        </br>
        <center>
            <h3 class="warning">
                Currently, Drauger OS 7.7 is in early beta, and many changes are expected. Expect instability, and extremely frequent updates.
                </br>
                It is recommended that users download Drauger OS 7.6 instead unless necessary.
            </h4>
        </center>
        </br>
        <a class="p-button--positive is-wide" href="{{ url_for('thank_you_beta') }}">
            <img class="redglow" src="{{ url_for('static_dir', path='images/77download.png') }}">
        </a>
        </br>
        </br>
        <center>
            <h3 class="warning">
                As of June 4th, 2022, Drauger OS 7.5.1 is no longer supported. The ISO for it is provided here as a service to the Drauger OS Community.
                </br>
                It is <span class="bolded">STRONGLY</span> recommended that users download Drauger OS 7.6 instead unless absolutely necessary.
            </h4>
        </center>
        </br>
        <a class="p-button--positive is-wide" href="{{ url_for('thank_you_old') }}">
            <img class="redglow" src="{{ url_for('static_dir', path='images/751download.png') }}">
        </a>
    </center>
    </br>
</div>

{% endblock %}
