{% extends "base.html" %}

{% block content %}
<center>
    <h1 class="page-title">
        Gaming, the Way it Should be.
    </h1>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
<div>
	<b style="font-size:var(--nav-summary-tittle-size);">
		What is Drauger OS?
	</b>
	</br>
	<p style="font-size:var(--nav-summary-text-size);">
		Drauger OS is an <a href="https://ubuntu.com" target="_blank">Ubuntu-based</a> Linux desktop gaming distribution that ships with many modifications and optimizations over stock Ubuntu that are intended to improve gaming performance and the gaming experience. From simple changes such as swapping <a href="https://gnome.org" target="_blank">Gnome</a> out for the light-weight <a href="https://xfce.org" target="_blank">Xfce Desktop Environment</a> and using a dark GTK theme by default, to more complex changes such as using a kernel compiled in-house and replacing <a href="https://en.wikipedia.org/wiki/PulseAudio" target="_blank">PulseAudio</a> with <a href="https://pipewire.org" target="_blank">Pipewire</a>. Drauger OS is built from the ground up with our primary focus on performance.
	</p>
    </br>
    </br>
    <div class="horizontal-block">
		<details>
		<summary>
        <b>
            Is Drauger OS right for me?
        </b>
		</summary>
		<p style="justify-content: center;font-size:var(--nav-summary-text-size);">
			If you're an avid PC gamer looking to squeeze more performance
			</br>
			from your rig, have more control over your system, or simply try
			</br>
			Linux out, Drauger OS might be for you.
			</br>
			</br>
			But, Drauger OS is not for the faint of heart.
			</br>
			</br>
			Like it's namesake, Drauger OS is capable of breathing new life
			</br>
			into old computers. However, again like it's namesake, it
			</br>
			requires maintainance from time to time, and issues cropping up
			</br>
			are not uncommon. Drauger OS is developed by a small, passionate
			</br>
			team who don't get paid anything for their work. As such, bugs
			</br>
			may sometimes be common. Therefore, users who are new to Linux
			</br>
			may want to look elsewhere to gain experience before taking the
			</br>
			plunge with Drauger OS.
		</p>
		</details>
        </br>
        </br>
        </br>
    </div>
    </br>
	<div class="horizontal-block">
		<details>
		<summary>
        <b>
            What is Drauger OS not designed for?
        </b>
		</summary>
		<p style="justify-content: center;font-size:var(--nav-summary-text-size);">
			Drauger OS is designed explicitly for gaming. This being said,
			</br>
			any sufficiantly advanced user can easily use Drauger OS to do
			</br>
			anything from streaming to video editing, from audio production
			</br>
			and editing to everyday usage. However, you may encounter issues
			</br>
			in the process of getting set up due to the gaming-related optimizations.
			</br>
			If so, feel free to hop into our <a href="https://discord.gg/JW8FGrc" target="_blank">Discord Server</a> or <a href="https://t.me/draugeros" target="_blank">Telegram Group</a>
			</br>
			to get assistance. More ways to contact us for support can be
			</br>
			found on our <a href="{{ url_for('contact') }}">Contact page</a>.
		</p>
		</details>
		</br>
		</br>
		</br>
		
	</div>
</div>

{% endblock %}
