{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Thomas Castleman
</h1>
</br>
<div class="box">
    <h2 class="subtitle">
        Welcome!
    </h2>
    <p>
        I'm Thomas Hade Castleman (you may find a couple other Thomas Castlemans (Castlemans? Castlemen?) online. I'm the Linux-y one). I often go by Batcastle, or some rendition of that, on most websites. You may know me from <a href="https://draugeros.org">Drauger OS</a>: An <a href="https://ubuntu.com">Ubuntu</a>-based <a href="https://en.wikipedia.org/wiki/Linux">Linux</a> Operating System designed exclusively for gaming.
        </br>
        </br>
        I have a multiple projects of varying size which all feed into Drauger OS. You can find them on the <a href="https://github.com/drauger-os-development">Drauger OS GitHub Account</a>. I have also a few projects that I work on outside of Drauger OS. You can find those personal projects on <a href="https://github.com/Batcastle">my personal GitHub Account</a>.
        </br>
        </br>
        Outside of software, I can also be found 3D printing, playing video games, watching anime, and occasionally dabling with some light electrical engineering.
    </p>
    <h2 class="subtitle">
        This website is still under construction. Check back later to see if more has been added!
    </h2>
    </br>
</div>

{% endblock %}
