{% extends "base.html" %}

{% block content %}
<center>
    <h1 class="page-title">
        System Requirements
    </h1>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="box">
    <center>
        <h2>
            Minimum Hardware Requirements
        </h2>
        <h2 class="subtitle">
            Hardware under these requirements may still run, but the experience will be so poor that we STRONGLY recommend against it, and in some cases, may have placed limiters in our installer in order to prevent installations that will fail based on internal testing.
        </h2>
        <table>
            <tr>
                <th>
                    CPU
                </th>
                <td>
                    Dual-core, 1.8 GHz, 64-bit processor
                </td>
            </tr>
            <tr>
                <th>
                    RAM
                </th>
                <td>
                    1 GB
                </td>
            </tr>
            <tr>
                <th>
                    Storage
                </th>
                <td>
                    32 GB (aprox. half used once installation complete)
                </td>
            </tr>
            <tr>
                <th>
                    GPU
                </th>
                <td>
                    Integrated Graphics
                </td>
            </tr>
            <tr>
                <th>
                    Screen Resolution
                </th>
                <td>
                    1024 x 768 at 30 Hz
                </td>
            </tr>
            <tr>
                <th>
                    External Ports
                </th>
                <td>
                    1 Display output (HDMI, DisplayPort, USB-C, VGA, DVI, etc.)
                    </br>
                    3 USB 2.0 Ports (1x for bootable USB drive, 1x for keyboard, 1x for mouse)
                </td>
            </tr>
        </table>
        </br>
        </br>
        </br>
        <h2>
            Recommended Hardware Requirements
        </h2>
        <table>
            <tr>
                <th>
                    CPU
                </th>
                <td>
                    Quad-core, 2 GHz, 64-bit processor
                </td>
            </tr>
            <tr>
                <th>
                    RAM
                </th>
                <td>
                    6 GB DDR4 3200 MHz
                </td>
            </tr>
            <tr>
                <th>
                    Storage
                </th>
                <td>
                    128 GB NVMe SSD
                </td>
            </tr>
            <tr>
                <th>
                    GPU
                </th>
                <td>
                    Nvidia GTX 950, AMD Radeon RX 450, or equivalent
                </td>
            </tr>
            <tr>
                <th>
                    Screen Resolution
                </th>
                <td>
                    1080p at 60 Hz
                </td>
            </tr>
            <tr>
                <th>
                    External Ports
                </th>
                <td>
                    1 Display output (HDMI, DisplayPort, USB-C, VGA, DVI, etc.)
                    </br>
                    2 USB 2.0 Ports (1x for keyboard, 1x for mouse)
                    </br>
                    1 USB 3.0 Port (1x for bootable USB drive)
                </td>
            </tr>
        </table>
        </br>
        </br>
        </br>
        <h2>
            Best Possible Results
        </h2>
        </br>
        <h2 class="subtitle">
            In our testing, anything past these specs sees diminishing returns with our installer. Performance per game depends on that particular game.
        </h2>
        </br>
        <table>
            <tr>
                <th>
                    CPU
                </th>
                <td>
                    12-core, 4+ GHz, 64-bit processor
                </td>
            </tr>
            <tr>
                <th>
                    RAM
                </th>
                <td>
                    8 GB DDR5 5000+ MHz
                </td>
            </tr>
            <tr>
                <th>
                    Storage
                </th>
                <td>
                    500 GB NVMe 4.0 SSD
                </td>
            </tr>
            <tr>
                <th>
                    GPU
                </th>
                <td>
                    AMD Radeon RX 6800 or better AMD card
                </td>
            </tr>
            <tr>
                <th>
                    Screen Resolution
                </th>
                <td>
                    1080p at 60 Hz
                </td>
            </tr>
            <tr>
                <th>
                    External Ports
                </th>
                <td>
                    1 Display output (HDMI, DisplayPort, USB-C, VGA, DVI, etc.)
                    </br>
                    2 USB 2.0 Ports (1x for keyboard, 1x for mouse)
                    </br>
                    1 Thunderbolt 4 Port (1x for bootable USB drive)
                </td>
            </tr>
        </table>
    </center>
</div>

{% endblock %}
