{% extends "base.html" %}

{% block content %}
<div class="contentContainer">
    <div class="AboutTitle">System Requirements</div>
    <div class="minumum">
        <div class="requirementsSubTitle">Minimum Hardware Requirements</div>
        <div class="aboutAlert">Hardware under these requirements may still run, but the experience will be so poor that we STRONGLY recommend against it, and in some cases, may have placed limiters in our installer in order to prevent installations that will fail based on internal testing.</div>
    </div>
        <table class="requirementTables">
            <tr class="tr">
                <th class="th">
                    CPU
                </th>
                <td class="td">
                    Dual-core, 1.8 GHz, 64-bit processor
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    RAM
                </th>
                <td class="td">
                    4 GB
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    Storage
                </th>
                <td class="td">
                    32 GB (aprox. half used once installation complete)
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    GPU
                </th>
                <td class="td">
                    Integrated Graphics
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    Screen Resolution
                </th>
                <td class="td">
                    1024 x 768 at 30 Hz
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    External Ports
                </th>
                <td class="td">
                    1 Display output (HDMI, DisplayPort, USB-C, VGA, DVI, etc.)
                    
                    3 USB 2.0 Ports (1x for bootable USB drive, 1x for keyboard, 1x for mouse)
                </td>
            </tr>
        </table>
        <div class="recommended">
            <div class="requirementsSubTitle">Recommended Hardware Requirements</div>
        </div>
        <table class="requirementTables">
            <tr class="tr">
                <th class="th">
                    CPU
                </th>
                <td class="td">
                    Quad-core, 2 GHz, 64-bit processor
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    RAM
                </th>
                <td class="td">
                    8 GB DDR4 3200 MHz
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    Storage
                </th>
                <td class="td">
                    256 GB NVMe SSD
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    GPU
                </th>
                <td class="td">
                    Nvidia GTX 1050, AMD Radeon RX 550, or equivalent
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    Screen Resolution
                </th>
                <td class="td">
                    1080p at 60 Hz
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    External Ports
                </th>
                <td class="td">
                    1 Display output (HDMI, DisplayPort, USB-C, VGA, DVI, etc.)
                    
                    2 USB 2.0 Ports (1x for keyboard, 1x for mouse)
                    
                    1 USB 3.0 Port (1x for bootable USB drive)
                </td>
            </tr>
        </table>
        <div class="BestResults">
            <div class="requirementsSubTitle">Best Possible Results</div>
        </div>
        <table class="requirementTables">
            <tr class="tr">
                <th class="th">
                    CPU
                </th>
                <td class="td">
                    12-core, 4+ GHz, 64-bit processor
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    RAM
                </th>
                <td class="td">
                    8 GB DDR5 5000+ MHz
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    Storage
                </th>
                <td class="td">
                    500 GB NVMe 4.0 SSD
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    GPU
                </th>
                <td class="td">
                    AMD Radeon RX 6800 or better AMD card
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    Screen Resolution
                </th>
                <td class="td">
                    1080p at 120 Hz
                </td>
            </tr>
            <tr class="tr">
                <th class="th">
                    External Ports
                </th>
                <td class="td">
                    1 Display output (HDMI, DisplayPort, USB-C, VGA, DVI, etc.)
                    
                    2 USB 2.0 Ports (1x for keyboard, 1x for mouse)
                    
                    1 Thunderbolt 4 Port (1x for bootable USB drive)
                </td>
            </tr>
        </table>
        <div class="BestResultsAlert">In our testing, anything past these specs sees diminishing returns with our installer.
            <br>Performance per game depends on that particular game.</div>
    </div>
</div>
{% endblock %}
