{% extends "base.html" %}

{% block content %}
<center>
    <h1 class="page-title">
        Thank you!
    </h1>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="box">
    <center>
        <h2>
          Thank you for choosing Drauger OS! If your download does not start within a few seconds, <a href="https://download-optimizer.draugeros.org/ISOs/Drauger_OS-7.6-AMD64.iso">try this link</a>.
          </br>
          The default password is ‘toor’.
          </br>
          In the mean time, <a href="https://liberapay.com/Drauger_OS_Development/donate" target="_blank">please consider donating to support the development of Drauger OS.</a>
          </br>
          </br>
          If you would like to verify the integrity of the ISO, you can use any of these files:
          </br>
          <a href="https://download.draugeros.org/hash_files/Drauger_OS-7.6/MD5.txt" target="_blank">MD5</a>
          <a href="https://download.draugeros.org/hash_files/Drauger_OS-7.6/SHA1.txt" target="_blank">SHA1</a>
          <a href="https://download.draugeros.org/hash_files/Drauger_OS-7.6/SHA256.txt" target="_blank">SHA256</a>
          </br>
          </br>
          If the download is too slow for your liking, you can also try <a href="assets/torrents/Drauger_OS-7.6-AMD64.iso.torrent">this torrent</a>.
        </h2>
    </center>
  </br>
</div>
<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function init_download()
{
  link = document.createElement("a"); //create 'a' element
  link.setAttribute("href", "https://download-optimizer.draugeros.org/ISOs/Drauger_OS-7.6-AMD64.iso");
  link.setAttribute("download", "https://download-optimizer.draugeros.org/ISOs/Drauger_OS-7.6-AMD64.iso");
  await sleep(3000);
  link.click();
}

init_download();
</script>
<noscript>
  <meta http-equiv="refresh" content="3;url=https://download-optimizer.draugeros.org/ISOs/Drauger_OS-7.6-AMD64.iso">
</noscript>
{% endblock %}
