{% extends "base.html" %}

{% block content %}
<center>
    <h1 class="page-title">
        Welcome to the New Drauger OS Wiki!
    </h1>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="box">
    <form method="POST" action="/wiki/search">
        <h2>
            Search
        </h2>
        <div class="control">
            <input class="input is-large wide" type="text" id="free_text" name="free_text" placeholder="Free Text Search">
        </div>
        </br>
        <h2>
            Filter by Tag
        </h2>
        <!-- This is for use by another function, so it knows what tags are available without having to read anything from disk -->
        { tags_list }
        <div class="control">
            { tags }
        </div>
        </br>
        <div>
            <h3>
                Tag Search Method
            </h3>
            <div class="switch-toggle switch-3 switch-candy" id="method-toggle">
                <input id="gluten-free-on" name="state-g" value="true" type="radio" checked="" />
                <label for="on" onclick="">All</label>

                <input id="gluten-free-na" name="state-g" value="none" type="radio" checked="checked" />
                <label for="na" onclick="">At Least One</label>

                <input id="gluten-free-off" name="state-g" value="false" type="radio"/>
                <label for="off" onclick="">None</label>

                <a></a>
            </div>
            </br>
        </div>
        </br>
        <div class="control">
            <button class="input button is-block is-info is-large is-fullwidth" name="wiki_search">Search Wiki</button>
        </div>
    </form>
    </br>
    { content }
    </br>
</div>

{% endblock %}
