{% extends "base.html" %}

{% block content %}
<center>
    <h1 class="page-title">
        Welcome to the New Drauger OS Wiki!
    </h1>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="box">
    <form method="POST" action="/wiki/search">
        <h2>
            Search
        </h2>
        <div class="control">
            <input class="input is-large" type="text" id="free_text" name="free_text" placeholder="Free Text Search">
        </div>
        <h2>
            Filter by Tag
        </h2>
            { tags_list }
        <div class="control">
                { tags }
        </div>
    </form>
    </br>
        <h3>
            No posts found matching search terms.
        </h3>
    </br>
</div>

{% endblock %}
