{% extends "base.html" %}

{% block content %}
<div class="contentContainer">
    <div class="wikiHomeTitle">Welcome to the new <span class="osName">Drauger OS</span> Wiki!</div>
    <div class="searchBoxTitle">Search</div>
    <form method="POST" action="/wiki/search">
        <div class="control">
            <input class="wikiSearchBar" type="text" id="free_text" name="free_text" placeholder="Search Drauger OS Wiki">
        </div>
        <div>
            <div class="TSM">Tag Search method</div>
            <div class="switch-toggle switch-3 switch-candy" id="method-toggle">
                <input id="gluten-free-on" name="state-g" value="true" type="radio" checked="" />
                <label for="on" onclick="">All</label>
                <input id="gluten-free-na" name="state-g" value="none" type="radio" checked="checked" />
                <label for="na" onclick="">At Least One</label>
                <input id="gluten-free-off" name="state-g" value="false" type="radio"/>
                <label for="off" onclick="">None</label>
                <a></a>
            </div>
        </div>
        <div class="FBT">
            Filter by Tag
        </div>
        <!-- This is for use by another function, so it knows what tags are available without having to read anything from disk -->
    <div class="tags">
        { tags_list }
        <div class="control">
            { tags }
        </div>
    </div>
        <div class="wikiSearchButton">
            <button name="wiki_search">Search Wiki</button>
        </div>
    </form>
</div>
<div class="wikiContent">
    { content }
    
</div>

{% endblock %}
